@import url("bootstrap");

/* generics*/
img {
  max-width: 100%;
  height: 50%;
  padding: 1rem;
  border-radius: 10px;
  object-fit: cover;
  object-position: top;
}

h1 {
  background-color: rgb(223, 223, 223);
}

h3 {
  margin-bottom: 1rem;
}

span {
  font-size: 1rem;
  display: block;
  margin-bottom: 8px;
}

/* utils */
.card-content-attrici,
.card-content-attori {
  background-color: #A0C4E2;
  height: 100%;
  border-radius: 10px;
}

.card-content-attori {
  background-color: #f79762;
}

.card-body {
  padding: 1rem;
}


/* desktop */
@media screen and (max-width: 992px) {
  img {
    height: 55%;
  }

  span {
    font-size: 1.1rem;
  }
}


/* tablet */
@media screen and (max-width: 768px) {
  img {
    height: 68%;
  }

  span {
    font-size: 1.2rem;
  }
}

/* phones */
@media screen and (max-width: 576px) {
  img {
    height: 60%;
  }

  span {
    font-size: 1rem;
  }
}